html, body {
    margin: 0;
    padding: 70px 0;
}

* {
    font-family: 'Josefin Sans',  sans-serif;
  }

ul {
    list-style-type: none;
  }

li {
list-style-type: none;
}

.container {
    text-align: center;
  }